@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu+Mono:wght@400;700&display=swap');
// font-family: 'Raleway', sans-serif;
// font-family: 'Ubuntu Mono', monospace;
  
* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  // font-family: 'Raleway', sans-serif
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu Mono', monospace;
}

.app {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.box {
  
}
.box__title {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
  background: rgb(19,33,66);
  color: #fff;
}

main {
  display: flex
}
  .modules {
    flex: 1;
    display: flex;
    flex-flow: column;
  }

.terminals {
  flex: 1;
  display: flex;
}