@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu+Mono:wght@400;700&display=swap');
// font-family: 'Raleway', sans-serif;
// font-family: 'Ubuntu Mono', monospace;
  
* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  // font-family: 'Raleway', sans-serif
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu Mono', monospace;
}

.box {
  
}
.box__title {
  display: flex;
  align-items: center;
  // border: solid 5px lightgrey;
  padding: 5px 10px;
  width: 100%;
  background: rgb(19,33,66);
  // background: linear-gradient(135deg, rgba(19,33,66,1) 0%, rgba(31,155,170,1) 100%);
  color: #fff;
}

main {
  display: flex
}
  .modules {
    flex: 1;
    display: flex;
    flex-flow: column;
    padding: 20px 20px 0 20px;
  }
  .modules--3 {

  }
  .modules--4 {
    
  }

.terminals {
  display: flex;
}