.Camera {
  position: relative;
  width: 640px;
  height: 480px;
  background: #5aff68;
  img, canvas {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    transform: translateY(-50%);
  }
}