.Module {
  margin-bottom: 20px;
  // padding: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  height: calc(33.333% - 20px);
}
  .Module__title {
    // border: solid 5px lightgrey;
  }
  .Module__content {
    padding: 5px;
  }